<div class="watchlist-container">
    <h2>Your Watchlist</h2>
    <div class="movie-container">
        {% if watchlist %}
            {% for movie in watchlist %}
            <div class="movie-card">
                <img src="{{ movie.img_path }}" alt="{{ movie.title }} Poster" class="movie-poster">
                <div class="movie-details">
                    <h3>{{ movie.title }}</h3>
                    <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
                    <p><strong>Rating:</strong> {{ movie.vote_average }}/10</p>
                    <p><strong>Overview:</strong> {{ movie.overview }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Your watchlist is empty.</p>
        {% endif %}
    </div>
</div>
